# IDE's and editors
.idea/
.vscode/

# Apple Annoyances
.DS_Store
.AppleDouble
.LSOverride

# Windows Annoyances
Thumbs.db
*.stackdump
[Dd]esktop.ini
*.lnk

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work